# Build output
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio / Rider
.vs/
.idea/
*.rsuser

# dotnet secrets & config
appsettings.json
appsettings.Staging.json
secrets.json
launchSettings.json

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# OS
.DS_Store
Thumbs.db

# zed
.zed/

# env
.env.dev
